[submodule "third_party/tilemaker"]
	path = third_party/tilemaker
	url = https://github.com/lambdajack/tilemaker
[submodule "third_party/tippecanoe"]
	path = third_party/tippecanoe
	url = https://github.com/lambdajack/tippecanoe
[submodule "third_party/libosmium"]
	path = third_party/libosmium
	url = https://github.com/lambdajack/libosmium
[submodule "third_party/osmium-tool"]
	path = third_party/osmium-tool
	url = https://github.com/lambdajack/osmium-tool
